# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/
.venv/

# Local database
pipa.db

# Local database
*.db
*.sqlite

#secrets
.env
config.json
secrets.yaml

# OS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs & temp
*.log
*.tmp

# Test & coverage
.pytest_cache/
.coverage
htmlcov/


